.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Espacio interno para el contenedor del formulario */
}

.form-field {
  width: 100%; /* Asegura que los campos ocupen el ancho completo */
  max-width: 500px; /* Ajusta el ancho máximo de los campos */
  margin-bottom: 20px; /* Espaciado entre los campos */
}

.rounded-input, .rounded-textarea {
  border-radius: 10px; /* Borde redondeado */
  padding: 10px; /* Espaciado interno para que el texto no esté pegado al borde */
  border: 1px solid #ccc; /* Color del borde */
  background-color: #f9f9f9; /* Color de fondo */
}

.rounded-textarea {
  height: 150px; /* Ajusta la altura del textarea */
}

/* Estilo para el botón */
ion-button {
  border-radius: 10px; /* Borde redondeado para los botones */
}

.tab-image1 {
  width: 40px;  
  height: auto; 
  margin-bottom: 4px; 
}

.tab-image3 {
  width: 40px;  
  height: auto; 
  margin-bottom: 4px; 
}
