<header class="p-4  border-gray-200 border-b-2  mb-4">
  <div _ngcontent-ng-c1090186114=""
    style="background-image: url('assets/Texturas.png');opacity: 0.05;width: 100%;height: 75px;z-index: -500;position: absolute;top: 0px;">
  </div>
  <div class="w-100 pl-16 pr-20 mx-auto flex justify-between items-center">
    <div class="text-red-600 text-4xl font-bold flex-none">
      <a href="#" class="hover:text-blue-300">
        <span class="w-12 h-12">ALERT APP<img src="assets/alert_icon.jpg" alt="logo"
            class="w-9 h-9 inline-block align-text-top"></span>

      </a>
    </div>
    <nav class="hidden md:flex space-x-4">
      <a href="#" class=" hover:text-blue-300">
        <span class="material-icons text-gray-500">notifications</span>
      </a>
      <a (click)="toggleDropdown()" class="">
        <div class="relative inline-block text-left">
          <div>
            <span class="material-icons text-gray-500">account_circle</span>
          </div>
          <div *ngIf="isOpen"
            class="absolute p-5 right-0 z-10 mt-4 w-64 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
            <article class="text-wrap ...">
              <h2 class="text-2xl pb-2">Perfil de usuario</h2>
              <p class="text-sm pb-2">Nombre: Jane Smith</p>
              <p class="text-sm pb-2">Email: jane.smith&#64;hotmail.com</p>
              <p class="text-sm ">Estado de verificación: Verificado</p>
            </article>
            <div class="flex justify-end mt-4">
              <a href="/ingreso" class="text-sm underline">Logout</a>
            </div>
          </div>
        </div>
      </a>
    </nav>
    <div class="md:hidden">
      <button id="menu-toggle" class="text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
  <div id="mobile-menu" class="md:hidden hidden">
    <nav class="flex flex-col p-4 space-y-2 bg-blue-500">
      <a href="#" class="text-white hover:text-blue-300">Home</a>
      <a href="#" class="text-white hover:text-blue-300">About</a>
      <a href="#" class="text-white hover:text-blue-300">Services</a>
      <a href="#" class="text-white hover:text-blue-300">Contact</a>
    </nav>
  </div>
</header>

<div class="grid grid-cols-5 gap-5">
  <div class="...">
    <div class="max-w-sm mx-auto   rounded-lg">
      <nav role="navigation">
        <a href="/incidentes" class="flex items-center p-4 pl-20 hover:bg-gray-200 rounded-full">
          <span class="material-icons mr-2">location_on</span>
          <span>Incidentes</span>
        </a>
        <a href="/historial" class="flex items-center p-4 pl-20  hover:bg-gray-200 rounded-full">
          <span class="material-icons mr-2">format_list_bulleted</span>
          <span>Mis Incidentes</span>
        </a>
        <a href="/historial" class="flex items-center p-4 pl-20  hover:bg-gray-200 rounded-full">
          <span class="material-icons mr-2">history</span>
          <span>Historial</span>
        </a>
        <a href="/configuracion" class="flex items-center p-4 pl-20  hover:bg-gray-200 rounded-full">
          <span class="material-icons mr-2">settings</span>
          <span>Configuración</span>
        </a>
      </nav>
    </div>
  </div>
  <div class="col-span-4 ...">
    <router-outlet />
  </div>
</div>