<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToLogin()" color="light">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="assets/imgs/logo.png" alt="App Logo" class="logo">
  </div>
  <div class="title-app">
    <span>ALERT APP</span>
  </div>

  <div class="register-container">
    <div class="images-gallery">
      <img src="assets/imgs/google-logo.png" alt="Image 3">
      <img src="assets/imgs/facebook-logo.png" alt="Image 2">
      <img src="assets/imgs/linkedin-logo.png" alt="Image 1">
    </div>
  </div>
  <div class="form-container">

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="register-form">

      <br><span class="custom-control">Nombres</span><br>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="Nombres" type="text" placeholder="Introduce tus Nombres" required>
      </mat-form-field>

      <br><span class="custom-control">Apellidos</span><br>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="Apellidos" type="text" placeholder="Introduce tus Apellidos" required>
      </mat-form-field>


      <br><span class="custom-control">Correo Electrónico</span><br>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Introduce tu correo" required>
      </mat-form-field>

      <br><span class="custom-control">Contraseña</span><br>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Introduce tu contraseña" required>
      </mat-form-field>
      <br>
      <button mat-raised-button color="dark" type="submit" class="btn-action">
        Registrar
      </button>
    </form>
  </div>
</ion-content>