<div class="absolute right-0 top-0 pr-20 pt-10">
  <button (click)="navigateToIngreso()"
    class="p-2 text-gray-500 font-semibold text-2xl py-1 rounded hover:bg-gray-200 focus:outline-none focus:ring-2  focus:ring-opacity-50">
    X
  </button>
</div>
<div class="h-screen flex flex-col items-center justify-center">
  <div class="grid grid-cols-2 gap-4">
    <div>

      <h1 class="text-xl font-bold pb-4">REGISTRO</h1>

      <div class="p-5 z-10 mt-4 w-80 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu" aria-orientation="vertical" aria-labelledby="options-menu">

        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Nombres</label>
          <input type="text" id="email"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ingresa los nombres" />
        </div>


        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Apellidos</label>
          <input type="text" id="email"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ingresa los apellidos" />
        </div>


        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
          <input type="text" id="email"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ingresa el correo electronico" />
        </div>

        <div class="mb-4">
          <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
          <input type="password" id="password"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
            placeholder="Ingresa la contraseña" />
        </div>

        <div class="max-w-xs mx-auto">
          <button
            class="w-full bg-black text-white font-semibold text-sm py-1 rounded hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50">
            Registrar
          </button>
        </div>


      </div>
      <div class="flex flex-col items-center justify-center p-5 w-80">
        <div class="grid grid-cols-3 gap-3">
          <img src="assets/google-logo.png" alt="Alarma" class="w-10 h-10 mb-4" />
          <img src="assets/facebook-logo.png" alt="Alarma" class="w-10 h-10 mb-4" />
          <img src="assets/linkedin-logo.png" alt="Alarma" class="w-10 h-10 mb-4" />
        </div>
      </div>
    </div>
    <!-- ... -->
    <div class="flex flex-col items-center justify-center p-10">
      <img src="assets/alert_icon.jpg" alt="Alarma" class="w-80 h-80 mb-4" />
      <span class="text-red-600 text-3xl font-bold">ALERT APP</span>
    </div>
  </div>

</div>