<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToInicio()">
        <ion-icon name="close-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="config-title">
    <h2 style="font-family: 'Roboto Mono', monospace; font-weight: bold;">CONFIGURACIÓN SEGURIDAD Y PRIVACIDAD</h2>
  </div>

  <ion-list>
    <ion-item>
      Fotos y videos
      <ion-checkbox slot="end" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      Ubicación
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      Incidentes
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item (click)="navigateToContactos()">
      Contactos
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>


  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/historial">
      <img src="assets/imgs/historial.png" alt="Tab 1 Image" class="tab-image1">
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/reporte-incidente">
      <img src="assets/imgs/logo.png" alt="Tab 2 Image" class="tab-image2">
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

