<div class="overflow-x-auto p-10">
    <table class="min-w-full bg-white border border-gray-200 rounded-lg">
        <thead>
            <tr class="border-b border-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">Nombre</th>
                <th class="py-3 px-6 text-left">Fecha</th>
                <th class="py-3 px-6 text-left">Hora</th>
                <th class="py-3 px-6 text-left">Ciudad</th>
                <th class="py-3 px-6 text-left">Detalle</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
            <tr class="hover:bg-gray-100">
                <td class="py-3 px-6">John Doe</td>
                <td class="py-3 px-6">09-08-23</td>
                <td class="py-3 px-6">07:23 am</td>
                <td class="py-3 px-6">Bogota</td>
                <td class="py-3 px-6">
                    <span class="material-icons text-gray-500 cursor-pointer"
                        (click)="navigateToIncidente()">more_horiz</span>
                </td>
            </tr>
            <tr class="hover:bg-gray-100">
                <td class="py-3 px-6">Jane Smith</td>
                <td class="py-3 px-6">04-18-23</td>
                <td class="py-3 px-6">07:23 am</td>
                <td class="py-3 px-6">Bogota</td>
                <td class="py-3 px-6">
                    <span class="material-icons text-gray-500 cursor-pointer"
                        (click)="navigateToIncidente()">more_horiz</span>
                </td>
            </tr>
            <tr class="hover:bg-gray-100">
                <td class="py-3 px-6">Mike Johnson</td>
                <td class="py-3 px-6">02-28-23</td>
                <td class="py-3 px-6">07:23 am</td>
                <td class="py-3 px-6">Bogota</td>
                <td class="py-3 px-6">
                    <span class="material-icons text-gray-500 cursor-pointer"
                        (click)="navigateToIncidente()">more_horiz</span>
                </td>
            </tr>
            <tr class="hover:bg-gray-100">
                <td class="py-3 px-6">Lorena Martinez</td>
                <td class="py-3 px-6">09-08-23</td>
                <td class="py-3 px-6">07:23 am</td>
                <td class="py-3 px-6">Bogota</td>
                <td class="py-3 px-6">
                    <span class="material-icons text-gray-500 cursor-pointer"
                        (click)="navigateToIncidente()">more_horiz</span>
                </td>
            </tr>
            <tr class="hover:bg-gray-100">
                <td class="py-3 px-6">Luis Smith</td>
                <td class="py-3 px-6">04-18-23</td>
                <td class="py-3 px-6">07:23 am</td>
                <td class="py-3 px-6">Bogota</td>
                <td class="py-3 px-6">
                    <span class="material-icons text-gray-500 cursor-pointer"
                        (click)="navigateToIncidente()">more_horiz</span>
                </td>
            </tr>
            <tr class="hover:bg-gray-100">
                <td class="py-3 px-6">Michael Johnson</td>
                <td class="py-3 px-6">02-28-23</td>
                <td class="py-3 px-6">07:23 am</td>
                <td class="py-3 px-6">Bogota</td>
                <td class="py-3 px-6">
                    <span class="material-icons text-gray-500 cursor-pointer"
                        (click)="navigateToIncidente()">more_horiz</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>